In [1]:
import pandas as pd
import random

In [2]:
nomes = ['Maria','Pedro','Joao','Ana','Beatriz']
regioes = ['SP','RJ','MA','PA','MG']

dados = {
    'nome': [random.choice(nomes) for _ in range(10)],
    'regioes': [random.choice(regioes) for _ in range(10)],
    'idade': [random.randint(18,50) for _ in range(10)]
}

In [3]:
df = pd.DataFrame(dados)
print(df)

      nome regioes  idade
0     Joao      SP     22
1      Ana      RJ     18
2     Joao      SP     29
3     Joao      MG     35
4     Joao      MA     49
5    Maria      SP     48
6    Maria      MG     46
7  Beatriz      MG     43
8      Ana      PA     34
9    Pedro      MA     46

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   nome     10 non-null     object
 1   regioes  10 non-null     object
 2   idade    10 non-null     int64
dtypes: int64(1), object(2)
memory usage: 368.0+ bytes

In [6]:
df.describe()

           idade
count  10.000000
mean   37.000000
std    11.185308
min    18.000000
25%    30.250000
50%    39.000000
75%    46.000000
max    49.000000

In [ ]:
#Selecoes
print(df['nome'].head())
print(df[['nome','idade']])

In [ ]:
#Filtragem
print(df[df['idade'] > 30])

      nome regioes  idade
3     Joao      MG     35
4     Joao      MA     49
5    Maria      SP     48
6    Maria      MG     46
7  Beatriz      MG     43
8      Ana      PA     34
9    Pedro      MA     46

In [ ]:
#Agrupamento
print(df.groupby('regioes')['idade'].mean())

regioes
MA    47.500000
MG    41.333333
PA    34.000000
RJ    18.000000
SP    33.000000
Name: idade, dtype: float64

In [ ]:
df.loc[2, "idade"] = None  # Simulando dado ausente
print(df.isnull().sum())   # Contar nulos

nome       0
regioes    0
idade      1
dtype: int64